---
    const a = "olha q legal, isso da um resultado mto top"
    const b = ['teste','teste']
    const c = 2

---

<!DOCTYPE hmtl>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {
            <p>teste</p>
        }
    </body>
</hmtl>
<style>

</style>
