---
import BaseLayout from '../layouts/BaseLayout.astro'
const items = ['gobs', 'ligdh', 'mitches']
const visible = true
---

<BaseLayout>
    <p>Teste</p>
    {
        items.map( item => (
            visible && <p>{item}</p>
        ) )
    }
</BaseLayout>
